.BeerListItem-main-card {
    width: 320px;
    height: 100%;
    background-color: rgb(225, 228, 228);
    margin-top: 30px;
  }

.cardImage{
    width: 270px;
    height: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
}

.bold{
    font-weight: bold;
}

.bodyModal{
    background-color: rgb(238, 235, 235);
}

.modalHeader{
    background-color: rgb(89, 81, 200);
    color:white;
}

.footerModal{
    background-color: rgb(232, 218, 244);
}
