.BeerListItem-main-card {
    width: 320px;
    height: 100%;
    background-color: rgb(225, 228, 228);
    margin-top: 30px;
  }

.cardImage{
    width: 270px;
    height: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
}

.bold{
    font-weight: bold;
}

.bodyModal{
    background-color: rgb(238, 235, 235);
}

.modalHeader{
    background-color: rgb(224, 222, 247);
    color:rgb(16, 16, 16);
}

.footerModal{
    background-color: rgb(238, 235, 240);
}

.formGroup{
    padding: 10px 10px 10px 10px;
}
